{{ define "main" }}
  
  <p>This is notes/themes/jam/layouts/index.html</p>

  {{ .Content }}

  {{ if gt ( len ( where .Pages "Section" "posts" )) 0 }}
    <h2>Latest posts</h2>
    {{ range first 3 ( where .Site.RegularPages.ByLastmod.Reverse "Section" "posts" ) }}
      <article class="list">
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          <time>{{ .Date.Format "02/01/2006" }}</time>
      </article>
    {{ end }}
  {{ end }}

  {{ if gt ( len ( where .Pages "Section" "docs" )) 0 }}
    <h2>Latest docs</h2>
    {{ range first 3 ( where .Site.RegularPages.ByLastmod.Reverse "Section" "docs" ) }}
      <article class="list">
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          <time>{{ .Date.Format "02/01/2006" }}</time>
      </article>
    {{ end }}
  {{ end }}

{{ end }}
